<section data-ng-controller="FeedsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1><i class='{{glyphicon}}'></i>
			<span data-ng-bind="feed.title"></span>
			<span data-ng-show="authentication.user._id == feed.user._id">
				<a class="btn btn-primary" href="/#!/feeds/{{feed._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</span>
		</h1>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="feed.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="feed.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="feed.content"></p>
</section>
